@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: var(--font-lato);
  --font-code: var(--font-fira-code);
  --font-heading: var(--font-plus-jakarta-sans);

  --background: #151417;
  --foreground: #e0e0e0;
  --accent: #00c0ff;
  --purple: #bd93f9;
}

body {
  font-family: var(--font-body);
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.gradient-text {
  background: -webkit-linear-gradient(45deg, var(--accent), #00ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--foreground);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 25%;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Gradient border for Navbar */
nav {
  position: relative;
}

nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-image: linear-gradient(to right, var(--accent), #00ff00);
}

